body {
  background-color: #ECF0F1;
  font-family: 'Roboto', sans-serif;
}
.container{
  background-color: gray;
  margin-top:35px;
  padding: 15px;
  width:650px;
  margin:35px auto;
/*   height: 250px; */
  color: white;
  border:10px solid white;
  border-radius:1px;
  -webkit-box-shadow: 0px 5px 31px -2px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 5px 31px -2px rgba(0,0,0,0.47);
	box-shadow: 0px 5px 31px -2px rgba(0,0,0,0.47);
}
a{
  color:white;
  text-decoration: underline;
  font-weight: bold;
}
pre {
padding:2px 15px;
}
.title{
/*   text-align:center; */
  font-size: 25px;
  font-weight:bold;
}
.sub_title{
  font-size:15px;
  font-weight: normal;
}
.row {
  margin:10px 0px 0px;
  padding:0;
}
.col {
  width: 190px;
  margin: 5px 5px;
  padding:5px 10px;
  height: 120px;
  background-color: tomato;
  border-radius: 1px;
}
.blockTit{
  font-size: 15px;
/*   font-weight: bold; */
}
button {
  width: 170px;
  margin:5px 0px 10px;
  padding:5px;
  height: 25px;
}
.group{
  margin-top:5px;
}
.btn {
  font-size: 10px;
}
.subDesc{
  font-size:11px;
}
hr {
  margin:0;
}
.link {
  margin:5px;
  width: 80px;
  height: 100px;
  font-size: 10px;
}
#input{
  margin-top:5px;
  margin-bottom: -2px;
  height: 20px;
}